######################
# App Configurations #
######################

SOURCE=
DESTINATION=

###########################
# Telegram Configurations #
###########################

# Your app_id and api_hash obtained from my.telegram.org/apps
API_ID=
API_HASH=

# Your user phone number
PHONE=

# An arbitrary key for app datebase
DB_PASSWORD=verysecretpassword
# Where the app stores files
FILES_DIRECTORY=/tmp/.tdlib_files

# Proxy (if needed)
PROXY_TYPE= # "proxyTypeMtproto", "proxyTypeHttp" or "proxyTypeSocks5"
PROXY_SERVER=
PROXY_PORT=
